
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
    font-family: $poppins;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: $red;
    background-size: contain;
    background-position: center;
    background-image: url("../images/bg-intro-mobile.png");
    padding: $mobile-padding-body-top-bottom $mobile-padding-body-left-right;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

@media screen and (min-width: $desktop) {
    body {
        background-image: url("../images/bg-intro-desktop.png");
        padding: unset;
        height: 100%;
    }

    input:focus {
        outline: auto;
    }
}