@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "variable.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    background-image: url(../../images/bg-intro-mobile.png);
    background-color: $red;
    background-position: center;
    background-size: contain;
    padding: $mobile-padding-body-top-bottom $mobile-padding-body-left-right;
    font-family: $poppins;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



@media screen and (min-width: $desktop) {
    body {
        padding: unset;
    }
}