// Variables

// Layouts

$mobile: 375px;
$desktop: 1440px;

// Colors

$red: hsl(0, 100%, 74%);

$green: hsl(154, 59%, 51%);

// Accent

$blue: hsl(248, 32%, 49%);

// Neutral

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

// Typography

/* Body Copy */ 

// Font Weights: 400, 500, 600, 700

$poppins: 'Poppins', sans-serif;



$margin-body-left-right: 2rem;
$margin-body-top-bottom: 2rem;

