// Variables

// Layouts

$mobile: 375px;
$desktop: 1440px;

// Colors

$red: hsl(0, 100%, 74%);

$green: hsl(154, 59%, 51%);

// Accent

$blue: hsl(248, 32%, 49%);

// Neutral

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

// Typography

$mobile-font-text: clamp(16px, 4.25vw, 32px);
$desktop-font-text: clamp(18px, 1.25vw, 36px);

/* Body Copy */ 

// Font Weights: 400, 500, 600, 700

$poppins: 'Poppins', sans-serif;



$mobile-padding-body-left-right: clamp(24px, 6.4vw, 92px);
$mobile-padding-body-top-bottom: clamp(75px, 20vw, 287.8px);

$desktop-padding-body-left-right: 4vw;
$desktop-padding-body-top-bottom: 4vw;

