section#form {
  button#trial-btn {
    border: none;
    display: block;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    margin-bottom: 5vw;
    border-radius: 10px;
    text-align: center;
    padding: 1.4em 3em;
    margin: 0 auto 4vw auto;
    background-color: $blue;
    color: $grayish-blue;
    font-size:  clamp(1rem, 4.25vw, 1.2rem);
    width: 100%;
    max-width: 24rem;
    span {
      font-weight: 600;
      color: white;
    }
  }

  form {
    max-width: 30rem;
    margin: 0 auto;
    background-color: white;
    padding: 6%;
    border-radius: 10px;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.1);

    label {
      position: relative;
      display: block;
      small {
        text-align: end;
        color: $red;
      }
    }

    input {
      display: block;
      width: 100%;
      border: 1px solid rgba(185, 182, 211, 0.4);
      border-radius: 5px;
      padding: 1.15em;
      color: $dark-blue;
      font-weight: 700;
      margin: 4vw auto;
      font-size: clamp(0.820rem, 3.5vw, 1rem);
      font-family: $poppins;
    }

    button {
      text-transform: uppercase;
      margin-bottom: 2.5vw;
      box-shadow: 0px 5px rgb(60, 179, 113);
      border: none;
      padding: 1.2em;
      display: block;
      color: white;
      font-weight: 400;
      border-radius: 6px;
      background-color: $green;
      width: 100%;
      font-size: clamp(1rem, 4.25vw, 1.251rem);
    }

    small {
      display: block;
      padding: 0 4%;
      text-align: center;
      font-size: 2.7vw;
      color: $grayish-blue;
      margin-bottom: 3vw;

      span {
        color: $red;
        font-weight: 900;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  section#form {
    width: 48%;

    button#trial-btn {
      margin-bottom: clamp(21.6px, 1.5vw, 43.2px);
      padding: clamp(21.6px, 1.5vw, 43.2px);
      font-size: $desktop-font-text;
      width: 100%;
      max-width: none;
      span {
        font-weight: 600;
        color: white;
      }
    }

    form {
      max-width: none;
      input {
        display: block;
        width: 100%;
        border-radius: 10px;
        padding-left: 1rem;
        height: 4vw;
        color: $dark-blue;
        font-weight: 500;
        margin: 0.5vw 0;
        font-size: $desktop-font-text;
      }

      button {
        margin-bottom: clamp(21.6px, 1.5vw, 43.2px);
        padding: clamp(17.2667px, 1.2vw, 34.5px);
        font-size: $desktop-font-text;
        width: 100%;

        &:hover {
          opacity: .6;
          cursor: pointer;
        }
      }

      small {
        display: block;
        padding: 0 4%;
        text-align: center;
        font-size: clamp(12.2333px, .85vw, 24.46px);
        color: $grayish-blue;
        margin-bottom: clamp(14.4px, 1vw, 28.8px);

        span {
          color: $red;
          font-weight: 900;
        }
      }
    }
  }
}