section#form {
  button#trial-btn {
    border: none;
    display: block;
    font-weight: 400;
    margin-bottom: 5vw;
    border-radius: 6px;
    text-align: center;
    padding: 5.3vw 18.3vw;
    background-color: $blue;
    color: $grayish-blue;
    font-size: $font-text;
    width: 100%;
    span {
      font-weight: 600;
      color: white;
    }
  }

  form {
    background-color: white;
    padding: 6%;
    border-radius: 5px;
    input {
      display: block;
      width: 100%;
      border: 0.5px solid rgba(185, 182, 211, 0.4);
      border-radius: 5px;
      padding-left: 1rem;
      height: 12vw;
      color: $dark-blue;
      font-weight: 600;
      margin: 4vw auto;
      font-size: $font-text;
    }

    button {
      text-transform: uppercase;
      margin-bottom: 2.5vw;
      border: none;
      padding: 4.5vw;
      display: block;
      color: white;
      font-weight: 400;
      border-radius: 6px;
      background-color: $green;
      width: 100%;
      font-size: $font-text;
    }

    small {
        display: block;
        padding: 0 4%;
        text-align: center;
        font-size: 2.7vw;
        color: $grayish-blue;
        margin-bottom: 3vw;
      span {
        color: $red;
        font-weight: 900;
      }
    }
  }
}
