@import "../variable.scss";
@import "../global.scss";

section#hero {
    color: white;
    text-align: center;

    h1 {
        margin: 3.5vw 0 6vw 0;
        line-height: clamp(31.1167px, 8.3vw, 119.433px);
        font-size: clamp(24px, 6.4vw, 48px);
    }

    p {
        margin-bottom: 12vw;
        font-size: $mobile-font-text;
    }
}

@media screen and (min-width: $desktop) {
    section#hero {
        width: 48%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            line-height: clamp(72px, 5vw, 148px);
            margin: 0 0 clamp(36px, 2.5vw, 72px) 0;
            font-size: clamp(57.6px, 4vw, 102px);
        }

        p {
            font-size: clamp(18.7167px, 1.3vw, 36px);
            margin: unset;
        }
    }
}