@import "../variable.scss";

@media screen and (min-width: $desktop) {
  main {
    width: 80%;
    margin: 12% auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
}
